<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href="../main.css"
    </head>>
    <body>
      <div class="container">
        <nav>
            <div class="nav-wrapper">
            <a href="../../../index.html" class="brand-logo">New School Cool</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/courses">Courses</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
            </div>
        </nav>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons"></i>Address</div>
                <div class="collapsible-body"><span>7151 S. 420 E. Midvale, Utah 84047</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons"></i>Phone</div>
                <div class="collapsible-body"><span>Office: (801)671-5782</span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons"></i>Email</div>
                <div class="collapsible-body"><span>Peter.Johson@pjwebdev.com</span></div>
            </li>
        </ul>
      </div>
    </body>
</html>