<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    </head>
    <body>
      <div class="container">
        <nav>
            <div class="nav-wrapper">
            <a href="../../../index.html" class="brand-logo">New School Cool</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/courses">Courses</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
            </div>
        </nav>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Address</div>
                <div class="collapsible-body"><span><p>7151 S. 420 E. Midvale, Utah 84047</p></span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">phone</i>Phone</div>
                <div class="collapsible-body"><span><p>Office: (801)671-5782</p></span></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">email</i>Email</div>
                <div class="collapsible-body"><span><p>Peter.Johson@pjwebdev.com</p></span></div>
            </li>
        </ul>
      </div>
    </body>
</html>