<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    </head>
    <body>
      <div class="container">
        <nav>
            <div class="nav-wrapper">
            <a href="./index.html" class="brand-logo">New School Cool</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li id="courses"><a href="/courses">Courses</a></li>
                <li id="contact"><a href="/contact">Contact Us</a></li>
            </ul>
            </div>
        </nav>
        <h2>Courses</h2>
        <table class="stripped">
         <thead>
            <tr>
                <th>Name</th>
                <th>Length</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        <% courses.forEach( function(course) { %>
            <tr>
                <td> <%= course.name %> </td>
                <td> <%= course.length %> </td>
                <td> <%= course.description %> </td>
                <td> <%= course.price %> </td>
            </tr>
        <% }) %>
            </tbody>
        </table>    
      </div>
    </body>
</html>